@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: auto;
    text-decoration: none;
}
#site-head{
    background: linear-gradient(purple, purple, violet, whitesmoke);
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    background-repeat: repeat-y;
}
#site-body{
    background-color: whitesmoke;
}
#end-site{
    background: linear-gradient(whitesmoke, whitesmoke,violet, violet,violet, purple);
    
}
.titulos{
    display: flex;
    flex-direction: column;
}
.title-wh{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#start-title{
    text-align:left;
    padding-left: 130px;
    padding-top: center;
    font-size: 35px; 
    word-wrap: normal;   
}
.description{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 130px;
    padding-top: 10px;
    font-size: 20px; 
}
.botao-wpp{
    color: whitesmoke;
    border: none;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: #229A00;
    text-transform: uppercase;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    box-shadow: 0 0 1em white;
    transition: 150ms;
}
.botao-wpp:hover{
    background-color: #90ee90;
    transition: 150ms;
}
.link{
    padding-top: 20px;
}
#insta-logotipo{
    width: 500px;
    padding-left: 10px;
    
}
#corpo-site{
    text-align: center;
}
.body-title-purp{
    color: purple;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title1{
    font-size: 35px;
    padding-top: 19px;
}
.body-text-def{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding-top: 15px;
    padding-bottom: 25px;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
}
#title-to-shop{
    font-size:50px;
    margin: auto;
    padding: 10px;
}
#botao-mid{
    background-color: violet;
    border: 2px solid black;
    border-radius: 0%;
    color: black;
    padding-bottom: 0px;
    text-align: center;
    width: 260px;
    height: 70px;
    box-shadow: 0 0 2em black;
    font-size: 18px;
}
#wpp-icon{
    width: 30px;
    display: flex;
}
.purple-target{
    padding-top: 30px;
    background: linear-gradient(whitesmoke,purple, purple,purple,violet, whitesmoke);
}
#title-to-info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
.list{
    display: flex;
    list-style-type: none;
}
.blocos{
    background-color: whitesmoke;
    border-radius: 30px;
    width: 290px;
    height: 350px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    display: block;
    transition: 100ms;
}
.blocos:hover{
    width: 300px;
    height: 360px;
    transition: 100ms;
}
.list-image{
    width: 100px;
    padding-top: 10px;
}
.title-list{
    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    font-size: 30px;
}
#site-interview{
    font-size: 55px;
}
#corpo-site-pt4{
    padding-top: 30px;
    background: linear-gradient(whitesmoke,purple, purple,purple,violet, whitesmoke);
}
#title-about-owner{
    font-size: 50px;
}
#text-about-owner{
    padding-right: 750px;
}
#instagram{
    background:linear-gradient(whitesmoke,orange,whitesmoke );
    border-radius: 30px;
    color: black;
    font: bold;
    transition: 200ms;
}
#instagram:hover{
    background:linear-gradient(whitesmoke,purple,whitesmoke );
    transition: 200ms;
}
#title-questions{
    font-size: 50px;
    text-align: center;
}
.questions{
    
    display: flex;
    list-style-type: none;
    flex-direction: column;
   
}
.list-title-end{
    color: purple;
    border-top: 1px solid black;
    border-radius: 40px;
    background-color: whitesmoke;
    width: 1350px;
    height: 30px;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 8px;
    font-weight: bold;
}
.normal-text{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding-left: 40px;
    font-size: 16px;
    
}
.questions:last-child{
    border-bottom: 1px solid black;
    border-radius: 40px;
} 
    .questions input,
    .questions #ans1 { 
    display: none;
}
  
    .questions #question-1{
    display: inline-block;
  }
  
    .questions input:checked ~ #ans1 {
    display: block
  }
#rodape-texto{
    color: rgb(39, 39, 39);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}




